MeetingSlot AI.json
{
  "name": "MeetingSlot AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -80
      ],
      "id": "326118a1-06ec-4590-a0ad-535ce682fe99",
      "name": "When chat message received",
      "webhookId": "eedb8b44-8cf5-4c6f-b53f-8cf81d78bd4a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an intelligent assistant that helps users manage their Google Calendar. Internally, use the Reason + Action framework: first understand the user's intent (Reason), then decide what to do (Action), but only output the Action to the user.\n\nWhen responding, only return the Action clearly, without mentioning the word “Reason” or showing any internal reasoning.\n\n---\n\nCapabilities:\n- Create calendar events\n- Retrieve upcoming or past events\n\n---\n\nFor event creation:\nIf the user wants to book an appointment:\n→ Ask or extract the following:\n• Start date and time (format: YYYY-MM-DD HH:mm:ss)\n• End date and time\n• Title of the event (suggest one if missing)\n• Short description\n\nIf any of these are missing, ask for the missing info clearly in your response.\n\n---\n\nFor event retrieval:\nIf the user wants to check events:\n→ Ask for or interpret a date range like:\n• “Today”, “This weekend”, “Last week”\n→ Convert that into:\n• start_date: YYYY-MM-DD HH:mm:ss\n• end_date: YYYY-MM-DD HH:mm:ss\n\n---\n\nClarify vague inputs like “next Monday” or “evening” by asking for specific time or date.\n\nUse only Google Calendar.\n\nAvoid suggesting alternate tools or using other timezones unless explicitly asked.\n\n---\n\nRespond to the user request below by showing **only the Action** you will take (no explanation, no labels):\n\nUser: \"{{ $json[\"message\"][\"text\"] }}\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -100,
        -200
      ],
      "id": "3f2078e6-68c1-43e6-8404-9f996f0da2d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -220,
        80
      ],
      "id": "1f1c257e-ea56-40a8-a832-e5f873d0dee8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SDol88GB8WSgnPQh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -60,
        100
      ],
      "id": "03ea0135-2f26-40ff-b9b4-46f6a06ac004",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "deepakraj29.freelancer@gmail.com",
          "mode": "list",
          "cachedResultName": "deepakraj29.freelancer@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        360,
        -20
      ],
      "id": "8b3860fa-95dc-4faf-ac07-0d96804a5266",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NFyE05iTtqIiygT9",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "deepakraj29.freelancer@gmail.com",
          "mode": "id"
        },
        "limit": "={{ $fromAI('Limit', ``, 'number') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        140,
        80
      ],
      "id": "c8c0ffec-ca8e-4786-9097-3a3653ff5c52",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NFyE05iTtqIiygT9",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5fd0c4e7-4a72-46ba-b9fb-8701464bc752",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97fb60fa399e4ddb31df8eb8ebd3f5576df3198f968d4cc9b8a7d6a36aab985b"
  },
  "id": "WR43Zr1g30rv9lzG",
  "tags": []
}